h1 {
    color: blue;
    text-align: center;
}

#batuDetails{
    display: none;
}

#seeDetails{
    background-color: aqua;
    text-align: center;
    width: 150px;
    position: relative;
    left: 40%;
}

#seeDetails:hover{
    cursor: pointer;
}