*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f0ed;
}

* {
    color: gray;
    text-align: center;
}

#batuDetails{
    display: none;
}

#seeDetails{
    background-color: aqua;
    text-align: center;
    width: 100px; 
    position: relative;
    margin: auto;
}

#seeDetails:hover{
    cursor: pointer;
}